
* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body > div {
    border: 1px solid blue;
    padding: 5px;
    margin-bottom: 5px;;
}


table {border-collapse: collapse;
    width: 100%;

}

td, th {
    border: 1px solid black;
    
}

.rot {
    background-color: rgb(255, 210, 210);
}

.gruen {
    background-color: rgb(155, 246, 169);
}

.blau {
    background-color: rgb(107, 109, 238);
}

.gelb {
    background-color: rgb(226, 226, 67);
}