.bilder>div{
    float: left;
    overflow-x: hidden;
    margin: 2px 2px 2px 2px;
    border-style:;
    border-color: blue;
    background-color: aqua;
    width: 24%;
    height: 360px;
}

.bilder>div:nth-child(4n){
    clear: right;
}

img{
    width: 100%;
}